<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>



<body>

  


  <div class="input">
    <input class="inputbox" type="text" [formControl]="inputForm" id="inputbox">
  </div>
  <div class="keyboard">

    <div class="keyLetter">
      <button class="key" (click)="keyPress('A')">A</button>
      <button class="key" (click)="keyPress('B')">B</button>
      <button class="key" (click)="keyPress('C')">C</button>
      <button class="key" (click)="keyPress('D')">D</button>
      <button class="key" (click)="keyPress('E')">E</button>
      <button class="key" (click)="keyPress('F')">F</button>
    </div>


    <div class="keyNumeric">
      <button class="key" (click)="keyPress('1')">1</button>
      <button class="key" (click)="keyPress('2')">2</button>
      <button class="key" (click)="keyPress('3')">3</button>
    </div>

    <div class="keyNumeric">
      <button class="key" (click)="keyPress('4')">4</button>
      <button class="key" (click)="keyPress('5')">5</button>
      <button class="key" (click)="keyPress('6')">6</button>
    </div>

    <div class="keyNumeric">
      <button class="key" (click)="keyPress('7')">7</button>
      <button class="key" (click)="keyPress('8')">8</button>
      <button class="key" (click)="keyPress('9')">9</button>
    </div>

    <div class="keyNumeric">
      <button class="backspace" (click)="backspace()"><span class="material-icons">chevron_left</span></button>
      <button class="key" (click)="keyPress('0')">0</button>
      <button class="deleteAll" (click)="deleteAll()"><span class="material-icons">close</span></button>
    </div>

  
    

    
    
    



  </div>
</body>




</html>